@{
    
    string username = Context.Session.GetString("username");

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />


    @*<script src="https://kit.fontawesome.com/490c0973ab.js" crossorigin="anonymous"></script>*@
    <title>@ViewData["Title"] - Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/Blog_Application.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

</head>


<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: grey !important ">
            <div class="container-fluid">

                <a class="nav-link" href="/Account/home">
                    <i class="fas fa-blog fa-2x"></i>
                </a>
                @if (!string.IsNullOrEmpty(username))
                {
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link" href="/Account/myblogs">My blogs</a>
                            </li>
                        </ul>


                        <ul class="navbar-nav">

                            <li class="nav-btn car-detail-link">

                                <a class="btn btn-primary-color car-detail-link" href="/Account/blog">

                                    <i class="fas fa-edit"></i>Write
                                </a>
                            </li>



                            <li class="nav-btn car-detail-link">

                                <a class="btn btn-primary-color car-detail-link" href="/Account/profile">

                                    <i class="fa-regular fa-user"></i>Profile
                                </a>
                            </li>


                            <li class="nav-btn car-detail-link">

                                <a class="btn btn-primary-color car-detail-link" href="/Account/logout">

                                    <i class="fa-solid fa-right-from-bracket"></i>Sign Out
                                </a>
                            </li>
                            <li class="nav-btn car-detail-link">

                                <a class="btn btn-primary-color car-detail-link" href="#">

                                    <span class="user-initial-circle">@username.Substring(0, 1).ToUpper()</span>
                                </a>
                            </li>


                            @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="~/images/img_avatar.png" alt="Avatar" class="avatar">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/Account/profile">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Account/Logout">Sign Out</a>
                        </div>
                    </li>*@



                        </ul>
                    </div>
                }
                else
                {
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/OurStory">Our Story</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Register">Sign Up</a>
                                @*<a class="nav-link" href="/Account/Register">Sign Up</a>*@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Sign In</a>

                                @*<a class="nav-link" href="/Account/Login">Sign In</a>*@
                            </li>

                        </ul>
                    </div>
                }

            </div>
        </nav>
    </header>
    <script src="~/timeFunctionsnew.js"></script>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Blog_Application - <a href="#">Privacy</a>
        </div>
    </footer>
    <div id="tempDataMessage" class="fixed-top text-center" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span style="margin-right:5px;"></span>@TempData["Message"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        else if (TempData["EMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span style="margin-right:5px;"></span>@TempData["EMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.4.2/tinymce.min.js"></script>
    <script>
        // Initialize TinyMCE
        tinymce.init({
            selector: 'textarea.tinymce-editor',
            // selector: '#blogContent',
            //plugins: 'autolink lists link image charmap print preview hr anchor',
            toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            autosave_ask_before_unload: false,
            height: 300, // Adjust the height as needed
            menubar: true,
            //plugins: 'powerpaste',
            powerpaste_word_import: 'clean',
            visualblocks_default_state: true,
            setup: function (editor) {
                editor.on('change', function () {
                    console.log('Editor content changed:', editor.getContent());
                });
            }
        });
    </script>
</body>
</html>
<style>
    .bg-light {
        background-color: grey !important;
    }

    .navbar-light .navbar-nav .nav-link {
        color: white !important;
    }

    .navbar-light .navbar-brand {
        color: white !important;
    }

    .avatar {
        vertical-align: middle;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
</style>
<script>
    $(document).ready(function () {
        function setPopupWidth() {
            var messageLength = $("#tempDataMessage span").text().length;

            // Adjust the base width and any additional padding/margin values
            var baseWidth = 500; // Set a base width for the popup
            var additionalPadding = 20; // Add any additional padding or margin

            var calculatedWidth = baseWidth + (messageLength * 10); // Adjust multiplier as needed

            $("#tempDataMessage").css("width", calculatedWidth + additionalPadding);
        }

        // Call the function on document ready and on window resize
        setPopupWidth();
        $(window).on("resize", setPopupWidth);
    });
</script>

<script>
    $(document).ready(function () {
        $('.select2').select2();
    });


</script>

<style>
    .user-initial-circle {
        display: inline-block;
        width: 30px; /* Adjust the width as needed */
        height: 30px; /* Adjust the height as needed */
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        background-color: #007bff; /* You can change the background color */
        color: #fff; /* You can change the text color */
        margin-right: 5px; /* Adjust the margin as needed */
    }
</style>
